include MANIFEST.in
include LICENSE.txt
include INSTALL.txt
include README.txt
include setup.py
include lsa/__init__.py
include lsa/compcore.cpp
include lsa/compcore.h
include lsa/compcore.i
include lsa/compcore.py
include lsa/lsaio.py
include lsa/lsalib.py
include lsa/lsalibx.py
include lsa-standalone/lsa-compute.py
include lsa-standalone/lsa-infer.py
include lsa-standalone/lsa-query.py
