include MANIFEST.in
include LICENSE.txt
include INSTALL.txt
include README.txt
include setup.py
include lsa/__init__.py
include lsa/compcore.cpp
include lsa/compcore.h
include lsa/compcore_wrap.cpp
include lsa/compcore.py
include lsa/lsaio.py
include lsa/lsalib.py
include lsa/lsalibx.py
include lsa/lsa_compute.py
include lsa/lsa_infer.py
include lsa/lsa_query.py
